In [1]:
import statistics
from bs4 import BeautifulSoup as bs4
import requests
import csv
import pandas as pd
import numpy as np


pages_to_scrape=5
pages=[]
cars=[]
prices=[]

for i in range(1,pages_to_scrape+1):
  url = 'https://www.kijiji.ca/b-cars-trucks/ottawa/used/page-{}/c174l1700185a49?ad=offering'.format(i)
  pages.append(url)

for item in pages:
  page = requests.get(item)
  soup = bs4(page.text,'html.parser')

  for l in soup.findAll('div', class_='info'):
    if l.find(class_='dealer-logo'):
      continue
    if l.find(class_='dealer-name'):
      continue
    name = l.find(class_='title').get_text().strip()
    price = l.find(class_='price').get_text().strip()
    cars.append((name, price))

  for k in soup.findAll('div', class_='price'):
    if k.findAll(class_='dealer-logo'):
      continue
    else: 
      pricee=k.getText()
      prices.append(pricee.strip())

new_prices=[]

for i in prices:
  if i not in ('Swap / Trade','Please Contact'):
    new_prices.append(i)
new_prices = [float(i.strip(" $\n ").replace(",", "")) for i in new_prices]
print(statistics.median(new_prices))


data=pd.DataFrame(cars, columns=['name', 'price'])
data.index+=1
data

29000.0

                                                 name           price
1                        2015 Ford F 150 XLT Supercab      $29,000.00
2                       2007 Ford Explorer Sport Trac       $4,500.00
3   2020 Chevrolet Colorado WT CREW CAB 4X4 V6 - A...      $39,888.00
4   2018 Chevrolet Cruze LT - Heated Seats - LED L...      $18,500.00
5   2018 Mercedes-Benz CLA250 AMG Sport Performanc...      $31,499.00
6   2017 Ford Escape SE - Bluetooth - Heated Seats...      $17,999.00
7     2022 Chevrolet Silverado 1500 LTD LT Trail Boss      $66,000.00
8     2018 GMC Acadia SLE - Bluetooth - Keyless Entry      $34,888.00
9   2019 Chevrolet Malibu LT - Heated Seats - Remo...      $27,888.00
10  2016 Buick Enclave Premium - Leather Seats - C...      $33,000.00
11                       â€˜85 Ford Turbo Diesel Ranger  Please Contact
12                                  2008 Bmw 335i n54     $123,456.00
13  2019 GMC Terrain Denali - Navigation - Cooled ...      $39,999.00
14                              2019 RAM 1500 Express      $42,999.00
15                           2006 Ford F150 Supercrew       $9,450.00
16                          2018 Buick Encore Premium  Please Contact
17   AUDI AVANT A4 2.0T (2008)\nFor sale\n6000$ O.B.O       $6,000.00
18  2015 Hyundai Accent GL - Bluetooth - Heated Se...      $10,499.00
19                          2020 Toyota Highlander LE  Please Contact
20  2017 Hyundai Tucson Premium - Bluetooth - Heat...      $24,999.00
21      2019 Chevrolet Express Cargo Van RWD 2500 155  Please Contact
22              2013 Hyundai Genesis Sedan - $191 B/W      $16,499.00
23  2018 Nissan Qashqai SV - Sunroof - Remote Star...      $21,999.00
24  2015 Chrysler 200 LIMITED - Leather Seats - Bl...      $16,777.00
25                             2019 RAM 2500 Big Horn      $56,809.00
26              2007 saturn vue ( honda power train )       $4,500.00
27                             2019 RAM 2500 Big Horn      $56,809.00
28                         2013 Dodge Dart SXT/Rallye       $9,995.00
29                      2015 Dodge Grand Caravan Crew      $21,916.00
30                             2019 Ram 2500 Big Horn      $74,021.00
31                           2009 Ford Ranger FX4 4X4       $4,500.00
32                            2015 Hyundai Elantra GL      $12,995.00
33  2019 RAM 2500 Laramie 6.7 diesel, Premium audi...      $81,994.00
34   2019 RAM 1500 Laramie Navigation, premium audio,      $49,550.00
35                             2018 Toyota Corolla LE      $19,396.00
36                2020 Jeep Wrangler Unlimited Sahara      $57,543.00
37                       2018 Honda Odyssey EX-L Navi      $40,995.00
38                   2018 Ford F-150 LARIAT SuperCrew      $58,295.00
39                                2011 Subaru Tribeca       $8,000.00
40  2018 Jeep Compass Limited Premium audio, sunro...      $32,734.00
41                     2021 GMC Sierra 1500 Elevation      $64,999.00
42                                    2020 Ford F-250     $104,000.00
43                                2010 Ford F-150 XLT      $13,995.00
44                             2020 Ford F-250 Lariat      $93,999.00
45                           2021 Ford F-350 Platinum     $105,999.00
46                                  Nissan Versa 2012       $3,000.00